/*
BORDER RED BOILERPLATE
*/
/*
============================================================
START : DEBUGGING
*/

.red {
    border: 1px solid red;
}

.blue {
    border: 1px solid blue;
}

.yellow {
    border: 1px solid yellow;
}

.orange {
    border: 1px solid orange;
}

.green {
    border: 1px solid green;
}

.purple {
    border: 1px solid purple;
}

.black {
    border: 1px solid black;
}

.white {
    border: 1px solid white;
}

.gray {
    border: 1px solid gray;
}

/*
END : DEBUGGING
============================================================
============================================================
START : GENERAL : STRUCTURE
*/

html {
    /* structure */
    height: 100%;
}

body {
    /* structure */
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

header {
    /* structure */
    height: 8vmax;
}

main {
    /* structure */
    flex: 1;
}

header * {
    /* structure */
    height: inherit;
}

header > section,
main > section,
footer > section {
    /* structure */
    padding: 0px 3vmax;
}

main > section:last-of-type {
    padding-bottom: 5vmax;
}

header > section {
    /* structure */
    padding-right: 0px;
}

footer > section {
    /* structure */
    height: 15vmax;
}

header > section > section,
main > section > section, 
footer > section > section {
    /* structure */
    max-width: 992px;
    min-width: 250px;
    margin: 0px auto;
    padding-top: 1px;
    padding-bottom: 1px;
}

footer > section > section {
    padding-top: 2vmax;
}

header > section > section > div > a {
    /* structure */
    display: block;
    width: 15vmax;
    min-width: 150px;
    max-width: 300px;
}

h1, h2, h3, h4, h5, h6 {
    /* structure */
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}

h1 {
    /* structure */
    margin-top: 1.8rem;
    margin-bottom: 1rem;
}

h2 {
    /* structure */
    margin-top: 1.6rem;
    margin-bottom: .8rem;
}

h3 {
    /* structure */
    margin-top: 1.4rem;
    margin-bottom: .6rem;
}

h4 {
    /* structure */
    margin-top: 1.2rem;
    margin-bottom: .4rem;
}

h5 {
    /* structure */
    margin-top: 1rem;
    margin-bottom: .2rem;
}

h6 {
    /* structure */
    margin-top: .8rem;
    margin-bottom: 0rem;
}

/*
END : GENERAL : STRUCTURE
============================================================
============================================================
START : GENERAL : FONTS 
*/

html {
    /* fonts */
    font-size: 16px;
}

body {
    /* fonts */
    font-family: 'Karla', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.1rem;
    letter-spacing: -0.9px;
    line-height: 1.7rem;
    font-weight: 100;

}

h1, h2, h3, h4, h5, h6 {
    /* fonts */
    letter-spacing: 0rem;
    font-family: 'Mukta', sans-serif;
    font-weight: bold; 
}

h1 {
    /* fonts */
    font-size: calc( 2rem + .3vmax );
    line-height: 2.2rem;
}

h2 {
    /* fonts */
    font-size: calc( 1.8rem + .3vmax );
    line-height: 2rem;
}

h3 {
    /* fonts */
    font-size: calc( 1.6rem + .3vmax );
    line-height: 1.8rem;
}

h4 {
    /* fonts */
    font-size: calc( 1.4rem + .3vmax );
    line-height: 1.6rem;
}

h5 {
    /* fonts */
    font-size: calc( 1.2rem + .3vmax );
    line-height: 1.4rem;
}

h6 {
    /* fonts */
    font-size: calc( 1rem + .3vmax );
    line-height: 1.2rem;
}


/*
END : GENERAL : FONTS
============================================================
============================================================
START : GENERAL : APPEARANCE 
*/

body {
    /* appearance */
    color: #474747;
}

header > section,
main > section,
footer > section {
    /* appearance */
    background-color: #eaeaea;
    border: 1px solid red;
}

header > section,
footer > section {
    /* appearance */
    background-color: #d7d7d7;
}

header > section > section,
main > section > section, 
footer > section > section {
    /* appearance */
    background-color: #f1f1f1;
}

header > section > section,
footer > section > section {
    /* appearance */
    background-color: #c9c9c9;
}

header > section > section > div > a {
    /* appearance */
    background-color: #b8b8b8;
    /* background: url( '../images/logo.svg' ); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 center;
}

h1, h2, h3, h4, h5, h6 {
    /* appearance */
    color: #242424;
}

/*
END : GENERAL : APPEARANCE
============================================================
============================================================
START : GALLERY : STRUCTURE 
*/

.br-gallery {
    /* structure */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.br-gallery:after {
    /* structure */
    content: '';
}

.br-gallery > * {
    /* structure */         
    margin-bottom: .5vmax;
}

.br-gallery:after,
.br-gallery > * {
    flex: 0 0 49.5%;        /* 2 slides per row */
}

.br-gallery > * > * {
    /* structure */
    display: block;
    position: relative;
    padding-bottom: 80%;
}

.br-gallery > * > * > * {
    /* structure */
    height: 100%;
    width: 100%;
    position: absolute;
}

/*
END : GALLERY : STRUCTURE
============================================================
============================================================
START : GALLERY : APPEARANCE 
*/

.br-gallery {
    /* appearance */
    background-color: #fff;
}

.br-gallery > * {
    /* appearance */
    background-color: #f1f1f1;
}

.br-gallery > * > * {
    /* appearance */
    background-color: #f1f1f1;
}

.br-gallery > * > * > * {
    /* appearance */
    background-color: #f1f1f1;
}

/*
END : GALLERY : APPEARANCE
============================================================
*/

@media ( min-width: 568px ) {

    .br-gallery:after,
    .br-gallery > * {
        flex: 0 0 33%;        /* 3 slides per row */
    }
}

@media ( min-width: 768px ) {

    header {
        /* structure */
        height: 8vmin;
    }

    header > section,
    main > section,
    footer > section {
        /* structure */
        padding: 0px 3vmin;
    }

    main > section:last-of-type {
        padding-bottom: 5vmin;
    }

    footer > section {
        /* structure */
        height: 15vmin;
    }

    header > section > section > div > a {
        /* structure */
        width: 25vmin;
    }

    .br-gallery:after,
    .br-gallery > * {
        flex: 0 0 24.7%;        /* 4 slides per row */
    }

    h1 {
        /* fonts */
        font-size: calc( 2rem + .3vmin );
    }

    h2 {
        /* fonts */
        font-size: calc( 1.8rem + .3vmin );
    }

    h3 {
        /* fonts */
        font-size: calc( 1.6rem + .3vmin );
    }

    h4 {
        /* fonts */
        font-size: calc( 1.4rem + .3vmin );
    }

    h5 {
        /* fonts */
        font-size: calc( 1.2rem + .3vmin );
    }

    h6 {
        /* fonts */
        font-size: calc( 1rem + .3vmin );
    }
}